@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    <!--Содержимое страницы-->
    <h1>Лабораторная работа 3</h1>
    <h3>Список</h3>
    <hr>
    <form method="GET" action="htmlpage.html">
        <h2>@ViewData["Text"]</h2>
        <h3>Форма</h3>
        <ol type="A">
            @for (int i = 1; i < 5; i++)
            {
                <li>элемент @i списка</li>
            }
        </ol>
        <select asp-items="@ViewData["Lst"] as SelectList"></select>
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="checkboxItem" id="gridCheck1" value="check1">
                    <label class="form-check-label" for="gridCheck1">
                        Чек-бокс 1
                    </label>
                </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="checkboxItem" id="gridCheck2" value="check2">
                    <label class="form-check-label" for="gridCheck2">
                        Чек-бокс 2
                    </label>
                </div>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"></legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RadioOption" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Радио-1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RadioOption" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Радио-2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="RadioOption" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">Радио-3 </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row">
            <label for="inputLogin" class="col-sm-2 col-form-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="login" id="inputLogin" placeholder="Ведите имя" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="inputPassword3" placeholder="Введите пароль" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </div>
        </div>
    </form>
</main>